[submodule "cs6380/travelling-salesman-problem"]
	path = cs6380/travelling-salesman-problem
	url = git@github.com:sriramvasudevan/travelling-salesman-problem.git
[submodule "cs6380/ultimate-tic-tac-toe"]
	path = cs6380/ultimate-tic-tac-toe
	url = git@github.com:sriramvasudevan/ultimate-tic-tac-toe.git
[submodule "cs3700/space-database-app"]
	path = cs3700/space-database-app
	url = git@github.com:sriramvasudevan/space-database-app.git
[submodule "cs3410/libreoffice"]
	path = cs3410/libreoffice
	url = git@github.com:sriramvasudevan/core.git
[submodule "cs6370/NLP"]
	path = cs6370/NLP
	url = git@github.com:aravindsankar28/NLP.git
